
@{
    ViewData["Title"] = "Confirmation";
    Ticket ticket = ViewBag.Ticket;
    Event eventt = ViewBag.Event;
}
<div class="row">
    <div class="col-12">
        <h1 class="text-center m-4"><b>Confirmation</b></h1>
        <div class="card-body">
            <h5 class="card-title text-center mb-5">Ticket to: @eventt.EventName </h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-8">
        <p class="card-text">Hello @ticket.CustomerFirstname @ticket.CustomerSurname.<br /><br /> Thank you for buying a ticket to @eventt.EventName.<br /> Your ticket has been sent to: @ticket.CustomerEmail.</p>
        <b>Event Information:</b>
        <ul class="eventdata">
            <li>Location: @eventt.Location</li>
            <li>Date: @eventt.Date.Day/@eventt.Date.Month/@eventt.Date.Year</li>
            <li>Time: @eventt.Time.ToString("hh"):@eventt.Time.ToString("mm")</li>
            <li>Price: @eventt.Price kr.</li>
        </ul>
    </div>
    <div class="col-4">
        <img src="/Image/@eventt.Image" class="otimg" />
    </div>
</div>

<a class="btn btn-primary" asp-controller="Customer" asp-action="LandingPage"><i class="fas fa-angle-left"></i> Back to events</a>