@{
    ViewData["Title"] = "Ticket System";
    var events = ViewBag.Events;
}
<h2>All Events</h2>

@foreach (var eventt in events)
{
    @if (@eventt.ActiveState)
    {
        <div class="row">
            <div class="col-12">
                <div class="card w-100 mt-3">
                    <div class="card-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-2 mt-2">
                                    <img src="/Image/@eventt.Image" class="lpimg" />
                                </div>
                                <div class="col-8">
                                    <h4 class="card-title"><b>@eventt.EventName</b></h4>
                                    <p class="mb-0"><b><i class="fas fa-calendar-day mt-3"></i> Date: </b>@eventt.Date.Day/@eventt.Date.Month/@eventt.Date.Year</p>
                                    <p class="mb-0"><b><i class="far fa-clock"></i> Time:</b> @eventt.Time.Hours:@eventt.Time.Minutes</p>
                                    <p class="mb-0"><b><i class="fas fa-map-marked-alt"></i> Location</b> @eventt.Location</p>
                                </div>
                                <div class="col-2 text-center">
                                    <p>Ticket price: <br /><b>@eventt.Price kr.</b> </p>
                                    <a class="btn btn-primary" asp-controller="Customer" asp-action="OrderTicket" asp-route-id="@eventt.EventID"><i class="fas fa-eye"></i> Show event</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
