@{
    var Ticket = ViewBag.Ticket;
    var id = ViewBag.id;
    var events = ViewBag.Events;
}

@foreach (var eventt in events)
{
    <div class="card w-100 mt-3 border-0">
        <div class="card-body pb-0">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-4">
                        <img src="/Image/@eventt.Image" class="otimg"/>
                    </div>
                    <div class="col-8">
                        <h3 class="card-title">@eventt.EventName</h3>
                        <p class="mb-0">@eventt.Description</p>
                        <hr />
                        <ul class="eventdata">
                            <li><b>@eventt.Location</b></li>
                            <li>@eventt.Date</li>
                            <li>@eventt.Time</li>
                            <li>@eventt.Price,-</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
<<<<<<< HEAD
    <hr>
    <h3 class="text-center mb-3">Order Ticket to @eventt.EventName</h3>
   @using (Html.BeginForm("OrderTicket","Customer",new {EventID = eventt.EventID},FormMethod.Post))
    {
        <div class="col-1g-4 col-lg-offset-4">
            <div class="form-group mb-0">
                @Html.Label("First name *") <br />
                @Html.TextBox("CustomerFirstname", null, new { required = true, placeholder = "First name", @class = "form-control", @type = "text" })<br />
            </div>
            <div class="form-group mb-0">
                @Html.Label("Surname *") <br />
                @Html.TextBox("CustomerSurname", null, new { required = true, placeholder = "Surname", @class = "form-control", @type = "text" })<br />
            </div>
            <div class="form-group mb-0">

                @Html.Label("Email *") <br />
                @Html.TextBox("CustomerEmail", null, new { required = true, placeholder = "Email", @class = "form-control", @type = "text" })<br />
            </div>
            <div class="form-group mb-0">
                @Html.Label("Confirm Email *") <br />
                @Html.TextBox("ConfirmCustomerEmail", null, new { required = true, placeholder = "Confirm Email", @class = "form-control", @type = "text" })<br />
            </div>
            <div class="form-group mb-0">
                @Html.Label("Phone number *") <br />
                @Html.TextBox("CustomerPhonenumber", null, new { required = true, placeholder = "Phone Number", @class = "form-control", @type = "number" })<br />
            </div>
=======
</div>

<hr>
<h3 class="text-center mb-3">Order Ticket to @eventt.EventName</h3>


@using (Html.BeginForm("OrderTicket","Customer",new {EventID = eventt.EventID},FormMethod.Post))
{
    <div class="col-1g-4 col-lg-offset-4">
        <div class="form-group mb-0">
            @Html.Label("First name *") <br />
            @Html.TextBox("customer_first_name", null, new { required = true, placeholder = "First name", @class = "form-control", @type = "text" })<br />
        </div>
        <div class="form-group mb-0">
            @Html.Label("Surname *") <br />
            @Html.TextBox("customer_surname", null, new { required = true, placeholder = "Surname", @class = "form-control", @type = "text" })<br />
        </div>
        <div class="form-group mb-0">

            @Html.Label("Email *") <br />
            @Html.TextBox("customer_email", null, new { required = true, placeholder = "Email", @class = "form-control", @type = "text" })<br />
        </div>
        <div class="form-group mb-0">
            @Html.Label("Confirm Email *") <br />
            @Html.TextBox("ConfirmCustomerEmail", null, new { required = true, placeholder = "Confirm Email", @class = "form-control", @type = "text" })<br />
        </div>
        <div class="form-group mb-0">
            @Html.Label("Phone number *") <br />
            @Html.TextBox("customer_phonenumber", null, new { required = true, placeholder = "Phone Number", @class = "form-control", @type = "number" })<br />
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <button type="button" class="btn btn-primary">Back</button>
>>>>>>> 2c84826... Fixed Order Ticket-error
        </div>
        <div class="row">
            <div class="col-8">
                <a class="btn btn-primary" asp-controller="Customer" asp-action="LandingPage">Back</a>
            </div>
            <div class="col-4">
                <a asp-controller="Ticket" asp-action="Confirmation"><button type="submit" class="btn btn-primary"><i class="fas fa-check"></i>Order Ticket</button></a>
            </div>
        </div>
    }
}







