
@{
    ViewData["Title"] = "ChangeLoginInfo";
    var organizer = ViewBag.Organizer;
}

<h2>Change login information</h2>


    @using (Html.BeginForm())
    {
    <div class="row">
        <div class="col-10 mb-3 float-right">
            <button type="button" class="btn btn-primary float-right">Delete account</button>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group mb-0">
                @Html.Label("Contact Person name") <br />
                @Html.TextBox("ContactPerson", (string)organizer.ContactPerson, new { required = true, @class = "form-control" })<br />
            </div>

            <div class="form-group mb-0">
                @Html.Label("Organization name") <br />
                @Html.TextBox("OrganizationName", (string)organizer.OrganizationName, new { required = true, @class = "form-control" })<br />
            </div>

            <div class="form-group mb-0">
                @Html.Label("Phonenumber") <br />
                @Html.TextBox("Phonenumber", (string)organizer.PhoneNumber, new { required = true, @class = "form-control", @type = "number" })<br />

            </div>

            <div class="form-group mb-0">
                @Html.Label("Email Address") <br />
                @Html.TextBox("Email", (string)organizer.Email, new { required = true, @class = "form-control" })<br />

            </div>

            <div class="form-group mb-0">
                @Html.Label("Password") <br />
                @Html.Password("Password", (string)organizer.Password, new { required = true, @class = "form-control", @type = "password" })<br />
            </div>

            <button type="submit" class="btn btn-primary fas fa-check"> Save changes </button>
            
        </div>
    </div>
    
}