
@{
    Ticket ticket = ViewBag.Ticket;
    var eventt = ViewBag.Event;
    var success = TempData["success"];
}
@if(success != null){

<div class="alert alert-success" role="alert">
    <i class="fas fa-check-circle"></i> @success
</div>}
<h2 class="mb-4">Check Tickets</h2>
<br />
@using (Html.BeginForm("checktickets", "organizer", null, FormMethod.Post))
{
    <div class="row">
        <div class="col-4 mt-4">
            <p>Please type ticket ID to validate the ticket:</p><br />
            <div class="form-group mb-2 w-50">
                <input name="ticket_id" type="text" class="form-control" id="inputTicketID" placeholder="Ticket ID">
            </div>
            <button type="submit" class="btn btn-primary mb-2"> <i class="fas fa-search"></i> Search</button>
        </div>
        @if (ticket != null)
        {
            @if (!ticket.TicketUsed)
            {
                <div class="col-3">
                    <h4 class="card-text">Ticket information:</h4>
                    <div class="card" style="width: 35rem;">
                        <div class="card-body">
                            <p class="card-text"><b>Ticket ID:</b> @ticket.TicketID</p>
                            <p class="card-text"><b>Name:</b> @ticket.CustomerFirstname @ticket.CustomerSurname</p>
                            <p class="card-text"><b>Email:</b> @ticket.CustomerEmail</p>
                            <a class="btn btn-primary float-right" asp-controller="Organizer" asp-action="TicketUsed" asp-route-id="@ticket.TicketID"><i class="fas fa-check"></i> Use ticket</a>
                            <p class="card-text"><b>Phonenumber:</b> @ticket.CustomerPhoneNumber</p>
                        </div>
                    </div>
                </div>

            }
            else
            {
                <div class="col-8">
                    <h4 class="card-text text-danger"><i class="fas fa-info-circle"></i> Ticket information: Ticket already used</h4>
                    <div class="card text-muted" style="width: 35rem;">
                        <div class="card-body">
                            <p class="card-text"><b>Ticket ID:</b> @ticket.TicketID</p>
                            <p class="card-text"><b>Name:</b> @ticket.CustomerFirstname @ticket.CustomerSurname</p>
                            <p class="card-text"><b>Email:</b> @ticket.CustomerEmail</p>
                            <a class="btn btn-secondary float-right" disabled style="cursor: not-allowed;"><i class="fas fa-check"></i> Use ticket </a>
                            <p class="card-text"><b>Phonenumber:</b> @ticket.CustomerPhoneNumber</p>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="col-8">
                <div class="card text-muted" style="width: 35rem;">
                    <div class="card-body">
                        <p class="btn btn-danger disabled"><i class="fas fa-info-circle"></i> Ticket ID does not exist </p>
                    </div>
                </div>

            </div>
        }
    </div>
}



