
@{

}

<h2>Create Organizer account</h2>

<form>
<label>Email Address *</label>
<input type="text" required />

<label>Password *</label>
<input type="password" required />

<input type="submit" value="Create User" />
</form>
﻿
@{
    var organizer = ViewBag.Organizer;
}


<p>
    @ViewBag.Message

</p>
<h2>Create Organizer</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.Label("Contact person name") <br />
        @Html.TextBox("Name", null, new { required = true, placeholder = "Contact Person name", @class="form-control" })<br />
        </div>
        <Br>

        @Html.Label("Organization name") <br />
        @Html.TextBox("OrganizationName", null, new { required = true, placeholder = "Organization Name" })<br />

        <Br>

        @Html.Label("Phonenumber") <br />
        @Html.TextBox("Phonenumber", null, new { required = true, placeholder = "Phonenumber" })<br />

        <Br>

        @Html.Label("Email Address") <br />
        @Html.TextBox("Email", null, new { required = true, placeholder = "Email Address" })<br />

        <Br>

        @Html.Label("Password") <br />
        @Html.Password("Password", null, new { required = true, placeholder = "Password" })<br />

        <Br>





        <button type="submit"> Submit </button>
        }






