
@{
    var organizer = ViewBag.Organizer;
}


<p>
    @ViewBag.Message

</p>
<h2>Create Organizer</h2>

@using (Html.BeginForm())
{
    @Html.Label("Contact person name") <br />
    @Html.TextBox("Name", null, new { required = true, placeholder = "Contact Person name" })<br />

    <Br>

    @Html.Label("Password") <br />
    @Html.Password("Password", null, new { required = true, placeholder = "Password" })<br />


    <button type="submit"> Submit </button>
}






