
@{
    ViewData["Title"] = "EditEvent";
    var events = ViewBag.Events;
    var org = ViewBag.Organizer;

}

<h3 id="Createevent" class="text-left">Edit Event</h3>
@foreach (var eventt in events)
{
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-12 mb-3">
                @if (eventt.ActiveState)
                {
                    <a class="btn btn-danger mt-5 text-white" data-toggle="modal" data-target="#ModalWindow"> <i class="fas fa-trash-alt"></i> Cancel Event</a>
                }
                else
                {
                    <a class="btn btn-success mt-5 text-white" data-toggle="modal" data-target="#ModalWindow2"> <i class="fas fa-trash-alt"></i> Reactivate Event</a>
                }
            </div>
        </div>
        <div class="col-md-12">
            <div class="float-right form-group col-md-6">
                @Html.Label("Description *") <br />
                @Html.TextArea("Description", (string)eventt.Description, new { required = true, @class = "form-control", })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group mb-0">
                @Html.Label("Event name *") <br />
                @Html.TextBox("Name", (string)eventt.EventName, new { required = true, @class = "form-control" })<br />
            </div>
            <div class="form-group mb-0">
                @Html.Label("Location *") <br />
                @Html.TextBox("Location", (string)eventt.Location, new { required = true, @class = "form-control" })<br />
            </div>
            <div class="form-group mb-0">
                @Html.Label("Date *") <br />
                @Html.TextBox("Date", (DateTime)eventt.Date, new { required = true, @class = "form-control", @type = "date" })<br />
            </div>
            <div class="form-group mb-0">
                @Html.Label("Start time *") <br />
                @Html.TextBox("Time", (TimeSpan)eventt.Time, new { required = true, @class = "form-control", @type = "time" })<br />
            </div>
            <div class="form-group mb-0">
                @Html.Label("Total amount of tickets *") <br />
                @Html.TextBox("TicketAmount", (float)eventt.TicketAmount, new { required = true, @class = "form-control", @type = "number" })<br />
            </div>
            <div class="form-group mb-0">
                @Html.Label("Price *") <br />
                @Html.TextBox("Price", (float)eventt.Price, new { required = true, @class = "form-control", @type = "float" })<br />
            </div>
            <div class="form-group mb-0">
                @Html.Label("Image") <br />
                @Html.TextBox("Image", (string)eventt.Image, new { @class = "form-control", @type = "file" })<br />
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-8">
                <a class="btn btn-primary" asp-controller="Organizer" asp-action="OrganizerLandingPage" asp-route-id="@eventt.OrganizerID">Back</a>
            </div>
            <div class="col-4 text-right">
                <button type="submit" class="btn btn-primary"><i class="fas fa-check"></i>Save changes</button>
            </div>
        </div>

        <div class="modal" tabindex="-1" role="dialog" id="ModalWindow">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Cancel Event</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to cancel your event?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <a class="btn btn-danger" asp-controller="Organizer" asp-action="CancelEvent" asp-route-id="@eventt.EventID">Cancel Event</a>

                    </div>
                </div>
            </div>
        </div>

        <div class="modal" tabindex="-1" role="dialog" id="ModalWindow2">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Reactivate Event</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to reactivate your event?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <a class="btn btn-success" asp-controller="Organizer" asp-action="ReactivateEvent" asp-route-id="@eventt.EventID">Reactivate Event</a>

                    </div>
                </div>
            </div>
        </div>
    }
}


