
@{

}


<p>
    @ViewBag.Message
</p>
﻿

<h2 class="mt-3 mb-3">Organizer Login-page</h2>
<div class="row">
    <div class="col-12 ">
        <div class="card w-50">
            <div class="card-body">
                @if (ViewBag.error != null)
                {
                    <div class="alert alert-danger" role="alert">
                        <i class="fas fa-exclamation-circle"></i> @ViewBag.error
                    </div>
                }
                @using (Html.BeginForm())
                {
                    <div class="form-group">
                        @Html.Label("Email Address *")
                        @Html.TextBox("Email", null, new { required = true, placeholder = "Email Address", @class = "form-control", type = "email", id = "loginemail" })<br />
                        <small id="emailHelp" class="form-text text-muted">Enter your email to login.</small>
                    </div>
                    <div class="form-group">
                        @Html.Label("Password *") <br />
                        @Html.Password("Password", null, new { required = true, placeholder = "Password", @class = "form-control", id = "loginpassword" })<br />
                    </div>
                    <button type="submit" class="btn btn-primary">Sign in</button>
                }
            </div>
        </div>
    </div>
</div>




